// Background
$background: #18181b;

// Border
$border-color: #3d3c44;

// Font Color Active
$grey-font-active: #d1dae1;

// Font Color Default
$grey-default: #8f9aa3;

// Font Color Hover
$grey-font-hover: #b8c0c7;

// Background Color Active
$navy-background-active: #2a2a30;

// Background Color Hover
$grey-background-hover: #1f2023;

// Font Color Disabled
$grey-font-disabled: #979797;

// Other
$white: white;
